
.login-extra{
    font-size: 12px;
    text-align: center;
}

.login-info {
}

.login-info h2 {
}


.validation-section {
    width: 100%;
    height: calc(80%);
    display: flex;
    justify-content: center;
    place-items: center;
}

.validation-card { 
    padding: 20px;
}

.validation-header {
    width: 100%;
}

    .validation-header .title {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }

        .validation-header .title h2 {
            margin: 0px;
            font-size: 30px;
        }

    .validation-header .info {
    }

        .validation-header .info p {
            margin: 0px;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 10px;
        }


.validation-area {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.validation-area p {
    font-size: 16px;
    color: #424242;
    margin: 5px;
}

.validation-area .age-input {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.validation-area .age-input div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100px;
    margin: 5px;
    text-align: center;
}

.validation-area .age-input label {
    margin: 5px;
    width: 100%;
}

.validation-area .age-input input {
    width: 100%;
    text-align: center;
}

.verify-button-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
}

.verify-button {
    border-radius: 0px;
    border: solid 1px #707274;
    width: 100%;
    max-width: 320px;
    cursor:default;
}

.verify-button.enabled {
    background-color: #4caf50;
    cursor: pointer;
}

.verify-button.enabled:hover{
    border: solid 1px #707274;
    background-color: #81c784;
}

.verify-button.enabled:active{
    border: solid 1px #707274;
    background-color: #4caf50;
}

.verification-error p { 
    font-size: 14px;
    color: red;
}

.remember-verification{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    place-items: center;
    width: 100%;
}

.remember-verification .remember-input{
    display: flex;
    justify-content: center;
    place-items: center;
    cursor: pointer;
    padding: 0px 5px;
}

.remember-input div {
    display: flex;
    justify-content: center;
    width: 20px;
}

.remember-input input {
    width: 15px;
    outline: none;
    cursor: pointer;
}

.remember-input label {
    padding-left: 5px;
    cursor: pointer;
}
