
/*
    1. MAIN APP
    2. HEADER
    3. PAGE CONTENT
    4. BUTTONS
    5. SEARCH BAR
    6. DISPLAY CARD
    7. POST
    8. LIST
    9. MODAL
    10. FORM
    11. PRODUCT DISPLAY
    12. PROFILE
    13. PROFILE EDIT
    14. SHOWCASE
    15. FILTER
    16. TEXT EDITORS
    17. POST CREATE
    18. COMMENTS
    19. EXTRAS
*/


/* 
    1. MAIN APP
*/
.app {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center
}

svg {
    display: block;
    margin: auto;
}

input, select {
    border: solid 1px #D6D6D7;
    border-radius: 3px;
    height: 25px;
    width: calc(100% - 10px);
    padding: 0px 5px;
    margin: 0px;
}

input:focus, select:focus {
    outline: 1px solid #c1c1c2;
}

a {
    text-decoration: none;
    color: black;
}

.thread-end {
    display: flex;
    justify-content: center;
}

.thread-end h3{
    font-size: 16px;
    color: #404041;
}

img {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

/* 
    2. HEADER
*/
.app-header {
    width: 100%;
    height: 50px;
    position: fixed;
    right: 0;
    top: 0;
    border-bottom: solid 1px #D6D6D7;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 50px;
}

    .app-header a {
        color: #202124;
        text-decoration: none;
    }

    .app-header .header-logo {
        font-size: 12px;
        padding: 0px 15px;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app-header .header-nav {
        width: 75%;
        padding: 0px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .app-header .header-nav .app-button {
        border: solid 1px #D6D6D7;
    }

    .header-nav-buttons {
        display: none;
        width: 50%;
    }

    .header-search{
        width: 80%;
    }

    .header-dropdown{
        width: 20%;
        padding-right: 10px;
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;
    }

    .header-nav-links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .header-link{
        padding: 0px 10px;
        
    }

    .header-link:hover p  {
        color: #202124;
        border-bottom: solid 1px #202124;
    }

    .header-link p {
        padding: 0px 5px;
        margin: 0px;
        display: inline-block;
        line-height: 20px;
        font-weight: 500;
    }

    .header-link.active p {
        border-radius: 1px;
        font-weight: 550;
        border-bottom: solid 2px #202124;
    }

    

/*
    3. PAGE CONTENT
*/

.app-content {
    max-width: 1100px;
    width: 100%;
}


/* 
    4. BUTTONS
*/

button {
    cursor: pointer;
    border: none;
    background-color: #FFF;
    border-radius: 25px;
    font-size: 14px;
    padding: 10px 15px;
}

.button-blue {
    background-color: #2196f3;
}

.button-blue:hover {
    background-color: #4dabf5;
}

.button-blue:active {
    background-color: #2196f3;
}

.app-button{
    margin: auto;
    border-radius: 2px;
    padding: 2px 4px;
    cursor: pointer;
}

.app-button:hover {
    background-color: #f2f2f2;
}

.app-button:active {
    background-color: #e6e6e6;
}

.app-button.active{
    background-color: #e6e6e6;
}


.app-button svg {
    display: block;
    margin: auto;
}

.default-button{
    margin: 0px;
    padding: 5px 10px;
    border: solid 1px #D6D6D7;
    border-radius: 25px;
}

.dropdown-content{
    position: relative;
    display: none;
}

.dropdown-content .content-area {
    position: absolute;
    text-align: left;
    background-color: white;
    border: solid 1px #D6D6D7; 
    right: 0px;
    top: 5px;
}

.dropdown-content.active{
    display: block;
}

    .dropdown-content hr{
        margin: 0px 5px;
        padding: 0px;
        background-color: #D6D6D7;
        border: solid 1px #D6D6D7;
    }

    .dropdown-content a {
        color: #202124;
        text-decoration: none;
    }

.dropdown-nav {
    min-width: 100px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 40px;
    white-space: nowrap;
    cursor: pointer;
}

.dropdown-nav:hover{
    background-color: #f5f5f5;
}

.dropdown-nav:active{
    background-color: #ebebeb;
}

/* 
    5. SEARCH BAR
*/

.app-search {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

    .app-search input  {
        max-width: 700px;
        width: 100%;
        padding: 0px 5px;
    }


/* 
    6. DISPLAY CARD
*/

.app-card {
    background-color: #FFF;
    border: solid #b6b6b7 1px;
    border-radius: 5px;
    margin: 10px 0px;
    overflow: hidden;
}

.card-info {

}

.card-info h5 {
    border: solid 1px #D6D6D7;
    background-color: #f3f3f3;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0px 5px;
}


.card-info h5:hover {
    background-color: #e6e6e7;
}

.card-info h5:active {
    background-color: #d6d6d7;
}

.card-badge {
    display: inline-block;
    display: flex;
    align-items: center;
}

.badge-content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-badge .badge-image {
    width: 100%;
    border: solid 1px #323639;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 0px;
    align-items: center;
}


.card-badge .badge-label {
    padding: 5px;
    width: 100%;
}



/* 
    7. POST
*/

.app-post {
    padding: 5px;
    padding-bottom: 10px;
}

.post-preview{
    cursor: pointer;
}

.post-display{
    padding: 5px 0px;
}

.post-header {
    display: flex;
    flex-wrap: wrap;
}

    .post-header .title h2 {
        padding: 5px 0px;
        margin: 0px;
        font-size: 20px;
    }

    .post-header .post-info {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .post-header .post-info .user-info{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .post-header .post-info .user-info h2{
        margin: 0px;
        font-size: 12px;
        line-height: 18px;
    }

    .post-header .post-info .user-info h2:hover{
        border-bottom: solid 1px #323639;
    }

    .post-header .post-info .user-info p{
        margin: 0px;
        font-size: 12px;
        color: #323639;
        padding: 0px 5px;
        line-height: 18px;
    }

    .post-header .post-info .actions{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .post-header .post-content-info{
        display: flex;
        justify-content: space-between;
        place-items: center;
        width: 100%;
        font-size: 12px;
        color: #323639;
    }

    .post-content-info .post-type{
        border-radius: 100px;
        background-color: rgb(32, 33, 36);
        display: flex;
        justify-content: center;
        place-items: center;
    }
    
    .post-content-info .post-type p {
        margin: 0px;
        padding: 5px 10px;
        color: white;
    }

    .post-header .post-reference {
        display: flex;
        width: 100%;
    }

    .post-header .post-reference .reference-seperator{
        padding: 0px 5px;
    }

    .post-header .post-reference div {
    }

    .post-header .post-reference p {
        margin: 0px;
        line-height: 18px;
    }

    .post-header .post-reference p:hover {
        border-bottom: solid 1px #323639;
    }

    

.post-body {
    font-size: 15px;
    margin: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.post-body-content {
    padding: 10px 0px;
    white-space: pre-line;  
    max-height: 200px;
    width: 100%;
}

.post-body-images {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.images-display{
    max-width: 350px;
    max-height: 300px;
    cursor: pointer;
}

.image-nav-display{
    pointer-events: none;
    position: relative;
    width: 100%;
}

.image-nav{
    position: absolute;
    width: 100%;
    height: 300px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.image-nav .nav-info{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.image-nav .nav-info p {
    margin: 0px;
    padding: 5px;
    font-size: 12px;
}

.image-nav .nav-info .page-count {
    border-radius: 100px;
    background-color: rgb(32, 33, 36, 0.5);
    margin: 5px;
    display: flex;
    justify-content: space-between;
    place-items: center;
}


.image-nav .nav-buttons {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.image-nav .nav-buttons .img-button{
    pointer-events: all;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    border-radius: 100px;
    background-color: rgb(32, 33, 36, 0.5);
    display: flex;
    justify-content: space-between;
    place-items: center;
    border: solid 1px rgb(32, 33, 36, 0.5);
}

.image-nav .nav-buttons .img-button:hover{
    background-color: rgb(32, 33, 36, 0.6);
}

.image-nav .nav-buttons .img-button:active{
    background-color: rgb(32, 33, 36, 0.8);
}


.post-footer {
    display: flex;
    justify-content: space-between;
}

.post-rating div{
    padding-right: 5px;
}

.post-notification {
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid #D6D6D7 1px;
    border-radius: 20px;
}

.post-notification .value {
    display: grid;
    justify-content: center;
    margin: auto;
    padding: 0px;
}


.post-notification .value p{
    margin: auto;
    padding: 0px;
}

.post-notification .content {
    display: flex;
    justify-content: center;
    padding: 0px 5px;
}

.post-properties {
    width: 50%;
}

.post-properties h3 {
    margin: 0px;
    padding: 0px;
}

.post-property{
    display: flex;
    justify-content: space-between;
}

/* 
    8. LIST
*/

.app-list{
}

.app-list .list-title {
    padding: 10px 0px;
    border-bottom: solid 1px #D6D6D7;
}

.list-display {
}

.list-content {
    padding: 5px 10px;
    display: flex;  
    flex-wrap: wrap;
}

.list-section {
    padding: 5px 0px;
    width: 100%;
}

    .list-section .section-title {
    }

    .list-section .section-title h2 {
        display: inline;
        padding: 0px;
        margin: 0px;
        border-bottom: solid #323639 1px;
    }


    .list-section .section-content {
        padding: 5px 0px;
        display: flex;  
        flex-wrap: wrap;
    }

    .list-section .section-content div {
        width: 50%;
        padding-bottom: 12px;
    }

    .list-section .section-content a {
    }

/* 
    9. MODAL
*/

.app-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 33, 36, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: block;
    width: 100%;
    max-width: 1000px;
    overflow: auto;
}

/* width */
.modal-content::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  
  /* Track */
  .modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  .modal-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .modal-content::-webkit-scrollbar-thumb:hover {
    background: #202124;
  }

/* 
    10. FORM
*/

.app-form {
    padding: 5px;
}

.form-header {
    padding: 0px;
    margin: 0px;
}

    .form-header h4 {
        padding: 5px 0px;
        margin: 0px;
        font-size: 28px
    }

.form-content {
    width: 100%;
}

.form-input-group {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.form-input-group .form-input {
}

.form-input-group .app-editor {
    padding: 5px;
}

.form-input {
    margin: 5px;
    width: calc(100% - 10px)
}

    .form-input label {
        margin-bottom: 5px;
        font-size: 16px;
        display: block;
    }

    .form-input input {
        font-size: 14px;
    }

    .form-input select {
        width: 100%;
    }

    .form-input .input-dynamic {
        display: flex;
    }

    .form-input .input-dynamic .remove-input {
        border: solid 1px #D6D6D7;
        width: 25%
    }

    .form-input .input-dynamic .remove-input:hover {
        background-color: #e6e6e6;
    }

    .form-input .input-dynamic .remove-input:active {
        background-color: #e6e6e6;
    }

    .form-footer {
        padding: 10px 0px;
        display: flex;
        justify-content: flex-end;
    }

    .form-footer button {
        margin: 5px;
        width: 100%;
    }

.form-dynamic-select {
    width: 100%;
}

.input-error {
    padding: 5px 0px;
    color: red;
    font-size: 16px;
}

.form-error {
    color: red;
    font-size: 16px;
    text-align: center;
}

.form-files-list {

}

.form-file{
    margin: 5px 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color:  #ebebeb;
}

.form-file .name{
    max-width: 90%;
}

.form-file .name p{
    margin: 0px;
    padding: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.form-file .name p:hover{
    color:#2196f3;
}

.form-file .name p:active{
    color:#7ac0f8

}

.form-file .action {

}

/* 
    11. PRODUCT DISPLAY
*/

.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.app-product {
    width: 100%;
    display: flex;
    justify-content: center;
    
    background-color: #FFF;
    border: solid #b6b6b7 1px;
    border-radius: 5px;
    margin: 10px 0px;
}

.app-product:hover {
    cursor: pointer;
    border: solid #323639 1px;
}

.product-header {
    width: 100%;
}

.product-brand {
    display: flex;
    justify-content: center;
}

.product-header div {
    padding: 3px 0px;
    text-align: center;
}

.product-header h4 {
    padding: 0px;
    margin: 0px;
}

.product-content {
    width: 100%;
}
.product-image-placeholder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image{
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: #D6D6D7;
}

.product-image img{
    padding: 0px;
}

.product-info {
    width: 50%;
    min-height: 200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-info div {
    width: 100%;
    display: flex;
    justify-content: center;
}



.product-footer{
    padding: 0px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.product-rating {

}

/* 
    12. PROFILE
*/

.app-profile {
    padding: 5px;
    padding-top: 0px;
}

.profile-header {
    padding: 10px;
}

.profile-display {
    display: flex;
}

.profile-display .profile-image {
    height: 100px;
    width: 100px;
    border: solid;
    border-radius: 100px;
}

.profile-display .profile-info {
    padding-left: 5px;
    width: calc(100% - 105px);
}

.profile-title{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.profile-title h4, h5 {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.profile-title h4 {
    width: 100%;
}

.profile-title h5 {
    border: solid 1px #D6D6D7;
    background-color: #f3f3f3;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 20px;
}


.profile-title h5:hover {
    background-color: #e6e6e7;
}

.profile-title h5:active {
    background-color: #d6d6d7;
}

.profile-action{
    height: 100%;
}

.follow-button {
    margin: 0px;
    padding: 5px 10px;
    border: solid 1px #D6D6D7;
    border-radius: 25px;
}

.profile-description{
    padding-top: 5px;
    font-size: 14px;
}

.profile-info-section {
    display: flex;
    align-items: center;
}

.profile-content {
    display: flex;
    flex-wrap: wrap;
}

.profile-showcase {
    width: 100%;
    border: solid;
    display: flex;
    flex-wrap: wrap;
}

/* 
    13. PROFILE EDIT
*/

.profile-edit {
    display: flex;
    flex-wrap: wrap;
}

.profile-edit-menu{
    width: 100%;
    border-bottom: solid 1px #D6D6D7;
}

.edit-menu-options{
    display: flex;
    flex-wrap: nowrap;
}

.edit-menu-option{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    cursor: pointer;
}

.edit-menu-option:not(:last-child) {
    border-right: solid 1px #D6D6D7;
}

.edit-menu-option:hover{
    background-color: #f2f2f2;
}

.edit-menu-option.active{
    background-color: #e6e6e6;
}

.edit-menu-option p {
    text-align: center;
    margin: 0px;
    padding: 5px 10px;
}

.profile-edit-content{
    width: 100%;
}

.profile-showcase-edit {
    padding: 10px;
}

.profile-showcase-edit .showcases {
    margin-bottom: 10px;
}

/* 
    14. SHOWCASE
*/

.app-showcase {
    width: 100%;
}

.showcase-title {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 5px;
    border-bottom: solid 1px #D6D6D7;
    
}

.showcase-title h4 {
    padding: 0px;
    margin: 0px;
    font-size: 18px
}

.showcase-display {
    padding: 5px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.showcase-display-item {
    display: flex;
    width: 100%;
    bordeR: solid;
}

.showcase-action {
    border: solid 1px #D6D6D7;
    border-bottom: none;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0%;
    padding: 0%;
}

.profile-showcase-save {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.profile-showcase-save button {
    width: 100%;
}

.showcase-item {
    margin: 5px;
    border: solid 1px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showcase-item p {
    padding: 0px;
    margin: 0px;
}

.showcase-card-item {
    border: solid;
    height: 50px;
    width: 100%;
}

.showcase-images{
    border: solid 1px #D6D6D7;
    margin: 5px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    min-height: 200px;
    height: 500px;
}

.showcase-images .main {
    width: 85%;
    height: 100%;
}

.showcase-images .main .showcase-image {
    width: 100%;
    height: 100%;
}

.showcase-images .secondary {
    width: 15%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.showcase-images .secondary .showcase-image{
    width: 100%;
    max-height: 25%;
    line-height: 50px;
}

.showcase-images .showcase-image img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.showcase-images .showcase-image div{
    width: 100%;
    height: 100%;
}



.showcase-image.edit{
    cursor: pointer;
}

.showcase-images .showcase-image.edit div{
    background-color: #202124;
}

.showcase-images .showcase-image.edit img:hover{
    opacity: 0.9;
}

.showcase-item-selector {
}

.showcase-item-selector title {
    border: solid;
}

.item-selector-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item-selector-items .card-item {
    cursor: pointer;
    border: solid 1px #D6D6D7;
    min-width: 200px;
    margin: 5px auto;
}

.card-item {
    border: solid 1px #D6D6D7;
}

.card-item .card-item-header {
    text-align: center;
    padding: 5px;
}

.card-item .card-item-header h4 {
    font-size: 14px;
    margin: 0px;
}

.card-item .card-item-header h3 {
    font-size: 16px;
    margin: 0px;
}

.card-item .card-item-rating {
    text-align: center;
}
.card-item .card-item-rating p {
    margin: 0px;
}

.card-item .card-item-content {
    min-height: 150px;
}

.selector-item {
    cursor: pointer;
    border: solid 1px #D6D6D7;
}

.selector-item:hover {
    background-color: #202124;
}

.selector-item img {
    height: 250px;
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.selector-item img:hover {
    opacity:0.7;
}

.favourite-item {
    width: 100%;
    margin: 10px 10%;
}

/* 
    15. FILTER
*/

.app-filter {
    display: flex;
    width: 100%;
}

.filter-content {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter-buttons{
    display: flex;
}

.filter-view {
    width: 100%;
}

.filter-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filter-input select {
    width: 45%;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.filter-button {
    margin: 0px 5px 5px 0px;
    padding: 5px 10px;
    border: solid 1px #D6D6D7;
    border-radius: 25px;
}


.filter-button .selected-options {
    font-size: 10px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
    text-overflow: ellipsis;
}

.filter-button .selected-options label {
    padding-left: 5px;
}

.filter-multi-select {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.multi-select-buttons {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}


.select-filter-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.multi-select-content {
    width: 100%;
}

.multi-select-content .filter-button{
    margin: 5px 2px;
}

/* 
    16. TEXT EDITORS
*/

.app-editor {
    width: 100%;
}

.text-editor  {
    background-color: #FFF;
    border-radius: 5px;
    border: solid #b6b6b7 1px;
    
}

    .text-editor .edit-content {
        font-size: 14px;
        padding: 5px;
        overflow: auto;
    }

.markup-editor  {
    background-color: #FFF;
    border-radius: 5px;
    border: solid #b6b6b7 1px;
    
}
    .markup-editor .edit-content {
        font-size: 14px;
        padding: 5px;
        overflow: auto;
        min-height: 100px;
    }

.editor-label {
    margin-bottom: 5px;
    font-size: 16px;
    display: block;
}

[contenteditable]:empty:before {
    color: #a9a9a9;
    content: attr(data-placeholder);
}

.edit-toolbar {
    overflow: hidden;
    height: 40px;
    border-bottom: solid #b6b6b7 1px;
}

.toolbar-buttons-content{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

.toolbar-button {
    height: 100%;
    border-right: solid #b6b6b7 1px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.toolbar-button:hover {
    background-color: #f2f2f2;
}

.toolbar-button:active {
    background-color: #e6e6e6;
}

.edit-content:focus {
    outline: solid #6d6d6e 1px;
}

.edit-submit {
    border-top: solid #b6b6b7 1px;
    height: 50px;
    display: flex;
}

.edit-submit-content{
    display: initial;
}

.edit-submit-actions{
    float: right;
    display: flex;
}

.edit-submit-button-content{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.edit-submit-button{
    margin: 5px;
    padding: 5px 10px;
    border: solid 1px #D6D6D7;
    border-radius: 25px;
}

/* 
    17. POST CREATE
*/

.app-post-create {
    padding: 10px;
}

.post-create-header {
}

.post-create-header h3 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.post-create-content{
    padding-top: 5px;
}

/* 
    18. COMMENTS
*/

.app-comment-display {
    padding: 5px;
}

.app-comment-create {
    border: solid 1px #D6D6D7;
    margin-bottom: 5px;
}

.comment-create-content{
    
}

.comment-create-buttons {
    border-top: solid 1px #D6D6D7;
    display: flex;
    justify-content: flex-end;
}

.comment-button {
    margin: 5px;
    border: solid 1px #D6D6D7;
}

.comments-filter{
    padding: 5px 0px;
}

.comment-filter-header {
    
}

.comment-filter-header h4{
    margin: 0px;
    padding: 0px;
}

.comment-filter-options{
    display: flex;
}

.comment-filter-option {
    display: flex;
    place-items: center;
}

.comment-filter-option label {
    white-space: nowrap;
    color: #323639;
    padding-right: 5px;
}

.comment-filter-option select{
    width: auto;
    outline: none;
    border: solid 1px #D6D6D7;
}

.app-comment {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.comment-profile {
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
    width: 100%;
}

.comment-profile .profile-image {
    border: solid 1px #D6D6D7;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.comment-content {
    
    border-left: solid 1px #e6e6e7;
    width: 100%;
    padding: 0px 10px;
    margin: 5px 10px;
}

.comment-profile {
    
}

.comment-profile .user-info{
    padding: 0px 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.comment-profile .user-info h2{
    margin: 0px;
    font-size: 12px;
    line-height: 18px;
}

.comment-profile .user-info h2:hover{
    border-bottom: solid 1px #323639;
}

.comment-profile .user-info p{
    margin: 0px;
    font-size: 12px;
    color: #323639;
    padding: 0px 5px;
    line-height: 18px;
}

.comment-content .comment-body {
    margin: 0px;
    padding: 0px 5px;
}

.comment-content .comment-body p{
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
}

.comment-rating {
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
}

.comment-rating {
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
    margin-right: 5px;
}

.comment-rating div{
    display: flex;
    flex-wrap: nowrap;
    place-items: center;
}

.comment-rating p{
    padding: 0px 5px;
    margin: 0px;
    font-size: 14px;
}

.comment-content .comment-actions {
    display: flex;
}

    .comment-actions .comment-action {
        padding: 5px;
        font-size: 12px;
        color: #323639;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 5px;
    }

    .comment-actions .comment-action:hover {
        color: #282b2e;
        background-color: #efefef;
    }

    .comment-actions .comment-action:active {
        color: #323639;
    }

    .comment-actions .rate-action {
        font-size: 12px;
        color: #323639;
        border-radius: 2px;
        cursor: pointer;
    }

    .comment-actions .rate-action:hover {
        color: #282b2e;
        background-color: #efefef;
    }

    .comment-actions .rate-action:active {
        color: #323639;
    }


.comment-reply {
    display: flex;
    width: 100%;
    border: solid;
}

.comment-replies-list {
}

.reply-list-action {
    border: solid;
}

.reply-list-action p {
    margin: 0px;
    padding: 0px;
    border: solid;
}

.reply-actions {
    display: flex;
}

    .reply-actions .reply-action {
        padding: 5px;
        font-size: 12px;
        color: #202124;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 5px;
    }

    .reply-actions .reply-action:hover {
        color: #282b2e;
        background-color: #efefef;
    }

    .reply-actions .reply-action:active {
        color: #323639;
    }

/* 
    19. EXTRAS
*/

.content-seperator {
    height: 1px;
    background-color: #D6D6D7;
    margin: 0px 10*px;
}



/* phones or larger */
@media (min-width: 576px) {

    /* 
        11. PRODUCT DISPLAY
    */
    .app-product {
        width: 45%;
    }

}

/* tablets or larger */
@media (min-width: 768px) {

    /* 
        2. HEADER
    */

    .header-search{
        width: 50%;
    }

    .header-dropdown{
        width: 10%;
    }
    
    .header-nav-buttons{
        display: flex;
    }

    .app-header .header-logo {
        width: 5%;
        font-size: 12px;
    }

    .app-header .header-nav {
        width: 95%;
    }

    /* 
        4. BUTTONS
    */

    .mobile-nav {
        display: none;
    }

    /* 
        11. PRODUCT DISPLAY
    */
    .app-product {
        width: 30%;
    }


    /* 
        13. PROFILE EDIT
    */

    
    .profile-edit {
        min-height: 400px;
        flex-wrap: nowrap;
    }

    .profile-edit-menu{
        border: none;
        border-right: solid 1px #D6D6D7;
        width: 20%;
    }

    .edit-menu-options{
        display: flex;
        flex-wrap: wrap;
    }

    .edit-menu-option{
        border-bottom: solid 1px #D6D6D7;
        display: flex;
        height: 40px;
        justify-content: center;
        place-items: center;
    }

    .edit-menu-option:not(:last-child) {
        border-right: none;
    }

}

/* laptops or larger */
@media (min-width: 992px) {

    /* 
        2. HEADER
    */

    .app-header .header-logo {
        font-size: 16px;
    }

    .images-display{
        max-width: 600px;
        max-height: 300px;
    }
}

/* large devices */
@media (min-width: 1200px) {

}
