
/*
    1. MAIN APP
    2. HEADER
    3. PAGE CONTENT
    4. BUTTONS
    5. SEARCH BAR
    6. DISPLAY CARD
    7. POST
    8. LIST
    9. MODAL
    10. FORM
    11. PRODUCT DISPLAY
    12. PROFILE
    13. SHOWCASE
    14. FILTER
    15. TEXT EDITOR
    16. POST CREATE
    17. EXTRAS
*/


/* 
    1. MAIN APP
*/
.app {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center
}

svg {
    display: block;
    margin: auto;
}

input, select {
    border: solid 1px #D6D6D7;
    border-radius: 3px;
    height: 25px;
    width: calc(100% - 10px);
    padding: 0px 5px;
    margin: 0px;
}

input:focus, select:focus {
    outline: 1px solid #c1c1c2;
}

button {
    border: none;
    background-color: #FFF;
    border-radius: 25px;
    font-size: 14px;
    padding: 10px 15px;
}

.button-blue {
    background-color: #2196f3;
}

a {
    text-decoration: none;
    color: black;
}

.thread-end {
    display: flex;
    justify-content: center;
}

.thread-end h3{
    font-size: 16px;
    color: #404041;
}


/* 
    2. HEADER
*/
.app-header {
    width: 100%;
    height: 50px;
    position: fixed;
    right: 0;
    top: 0;
    border-bottom: solid 1px #D6D6D7;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 50px;
}

    .app-header a {
        color: #202124;
        text-decoration: none;
    }

    .app-header .header-logo {
        font-size: 12px;
        padding: 0px 15px;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app-header .header-nav {
        width: 75%;
        padding: 0px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .app-header .header-nav .app-button {
        border: solid 1px #D6D6D7;
    }

    .header-nav-buttons {
        display: none;
        width: 50%;
    }

    .header-search{
        width: 80%;
    }

    .header-dropdown{
        width: 20%;
        padding-right: 10px;
        display: flex;
        justify-content: flex-end;
        align-items:flex-end;
    }

    .header-nav-links{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    .header-link{
        padding: 0px 10px;
        
    }

    .header-link:hover p  {
        color: #202124;
        border-bottom: solid 1px #202124;
    }

    .header-link p {
        padding: 0px 5px;
        margin: 0px;
        display: inline-block;
        line-height: 20px;
        font-weight: 500;
    }

    .header-link.active p {
        border-radius: 1px;
        font-weight: 550;
        border-bottom: solid 2px #202124;
    }

    

/*
    3. PAGE CONTENT
*/

.app-content {
    max-width: 1100px;
    width: 100%;
}


/* 
    4. BUTTONS
*/

.app-button{
    margin: auto;
    border-radius: 2px;
    padding: 2px 4px;
    cursor: pointer;
}

.app-button:hover {
    background-color: #f2f2f2;
}

.app-button:active {
    background-color: #e6e6e6;
}

.app-button.active{
    background-color: #e6e6e6;
}


.app-button svg {
    display: block;
    margin: auto;
}

.dropdown-content{
    display: none;
    position: absolute;
    text-align: left;
    min-width: 200px;
    background-color: white;
    border: solid 1px #D6D6D7; 
    right: 0px;
    border-right: none; 
}

.dropdown-content.active{
    display: block;
}

    .dropdown-content hr{
        margin: 0px 5px;
        padding: 0px;
        background-color: #D6D6D7;
        border: solid 1px #D6D6D7;
    }

    .dropdown-content a {
        color: #202124;
        text-decoration: none;
    }

.dropdown-nav {
    padding: 0px 10px;
    cursor: pointer;
}

.dropdown-nav:hover{
    background-color: #f5f5f5;
}

.dropdown-nav:active{
    background-color: #ebebeb;
}

/* 
    5. SEARCH BAR
*/

.app-search {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

    .app-search input  {
        max-width: 700px;
        width: 100%;
        padding: 0px 5px;
    }


/* 
    6. DISPLAY CARD
*/

.app-card {
    background-color: #FFF;
    border: solid #b6b6b7 1px;
    border-radius: 5px;
    margin: 10px 0px;
    overflow: hidden;
}

.card-info {

}

.card-info h5 {
    border: solid 1px #D6D6D7;
    background-color: #f3f3f3;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 0px 5px;
}


.card-info h5:hover {
    background-color: #e6e6e7;
}

.card-info h5:active {
    background-color: #d6d6d7;
}

.card-badge {
    display: inline-block;
    display: flex;
    align-items: center;
}

.badge-content {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-badge .badge-image {
    width: 100%;
    border: solid 1px #323639;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    padding: 0px;
    align-items: center;
}


.card-badge .badge-label {
    padding: 5px;
    width: 100%;
}



/* 
    7. POST
*/

.app-post {
}


.post-header {
    display: flex;
    flex-wrap: wrap;
}

    .post-header .title h2 {
        font-size: 5vw;
    }

    .post-header .post-info {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .post-header .post-info .user-info{
        display: flex;
        flex-wrap: nowrap;
    }

    .post-header .post-info .user-info div{
        margin: auto;
        padding: 5px;
    }


    .post-header .post-info .actions{
        height: 100%;
        display: flex;
        align-items: center;
    }


.post-profile-picture { 
    border: solid 2px #202124;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #323639;
}

.post-body {
    margin-bottom: 10px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
}



.post-rating div{
    padding-right: 5px;
}

.post-notification {
    display: grid;
    justify-content: center;
    align-items: center;
    border: solid #D6D6D7 1px;
    border-radius: 20px;
}

.post-notification .value {
    display: grid;
    justify-content: center;
    margin: auto;
    padding: 0px;
}


.post-notification .value p{
    margin: auto;
    padding: 0px;
}

.post-notification .content {
    display: flex;
    justify-content: center;
    padding: 0px 5px;
}

.post-properties {
    width: 50%;
}

.post-properties h3 {
    margin: 0px;
    padding: 0px;
}

.post-property{
    display: flex;
    justify-content: space-between;
}

/* 
    8. LIST
*/

.app-list{
}

.app-list .list-title {
    padding: 10px 0px;
    border-bottom: solid 1px #D6D6D7;
}

.list-display {
}

.list-content {
    padding: 5px 10px;
    display: flex;  
    flex-wrap: wrap;
}

.list-section {
    padding: 5px 0px;
    width: 100%;
}

    .list-section .section-title {
    }

    .list-section .section-title h2 {
        display: inline;
        padding: 0px;
        margin: 0px;
        border-bottom: solid #323639 1px;
    }


    .list-section .section-content {
        padding: 5px 0px;
        display: flex;  
        flex-wrap: wrap;
    }

    .list-section .section-content div {
        width: 50%;
        padding-bottom: 12px;
    }

    .list-section .section-content a {
    }

/* 
    9. MODAL
*/

.app-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 33, 36, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: block;
    width: 100%;
    max-width: 1000px;
    overflow: auto;
}

/* width */
.modal-content::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  
  /* Track */
  .modal-content::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  .modal-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  .modal-content::-webkit-scrollbar-thumb:hover {
    background: #202124;
  }

/* 
    10. FORM
*/

.app-form {
    padding: 5px
}

.form-header {
    padding: 0px;
    margin: 0px;
}

    .form-header h4 {
        padding: 5px 0px;
        margin: 0px;
        font-size: 28px
    }

.form-content {
    width: 100%;
    padding: 10px 0px;
}


.form-input {
    margin-bottom: 10px;
}

    .form-input label {
        margin-bottom: 5px;
        font-size: 16px;
        display: block;
    }

    .form-input input {
        display: block;
    }

    .form-input select {
        
    }

    .form-input .input-dynamic {
        display: flex;
    }

    .form-input .input-dynamic .remove-input {
        border: solid 1px #D6D6D7;
        width: 25%
    }

    .form-input .input-dynamic .remove-input:hover {
        background-color: #e6e6e6;
    }

    .form-input .input-dynamic .remove-input:active {
        background-color: #e6e6e6;
    }

    

    .form-footer {
        display: flex;
        justify-content: flex-end;
    }

    .form-footer button {
        width: 100%;
    }

.input-error {
    padding: 5px 0px;
    color: red;
    font-size: 16px;
}

.form-error {
    color: red;
    font-size: 16px;
    text-align: center;
}

/* 
    11. PRODUCT DISPLAY
*/

.app-products-display{
    display: flex;
    flex-wrap: wrap;
}

.app-product {
    background-color: #FFF;
    border: solid #b6b6b7 1px;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px 5px 10px 5px;
    width: 100%;
}


.app-product:hover {
    cursor: pointer;
    border: solid #323639 1px;
}

.product-header {
}

.product-brand {
    display: flex;
    justify-content: center;
}

.product-header div {
    padding: 3px 0px;
    text-align: center;
}

.product-header h4 {
    padding: 0px;
    margin: 0px;
}

.product-content {
    display: flex;
    flex-wrap: nowrap;
}

.product-image{
    background-color: #D6D6D7;
    min-height: 200px;
    height: 100%;
    width: 50%;
}

.product-image img{
    padding: 0px;
}

.product-info {
    width: 50%;
    min-height: 200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product-info div {
    width: 100%;
    display: flex;
    justify-content: center;
}



.product-footer{
    padding: 0px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.product-rating {

}

/* 
    12. PROFILE
*/

.app-profile {
    padding: 5px;
    padding-top: 0px;
}

.profile-header {
}

.profile-display {
    display: flex;
}

.profile-display .profile-image {
    height: 100px;
    width: 100px;
    border: solid;
    border-radius: 100px;
}

.profile-display .profile-info {
    padding-left: 5px;
    width: calc(100% - 105px);
}

.profile-title{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}

.profile-title h4, h5 {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.profile-title h4 {
    width: 100%;
}

.profile-title h5 {
    border: solid 1px #D6D6D7;
    background-color: #f3f3f3;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 20px;
}


.profile-title h5:hover {
    background-color: #e6e6e7;
}

.profile-title h5:active {
    background-color: #d6d6d7;
}

.profile-action{
    height: 100%;
}

.profile-follow {
    border: solid 1px;
    padding: 5px 10px;
    border-radius: 25px;
}

.profile-description{
    padding-top: 5px;
    font-size: 14px;
}

.profile-info-section {
    display: flex;
    align-items: center;
}

.profile-content {
    display: flex;
    flex-wrap: wrap;
}

.profile-showcase {
    width: 100%;
    border: solid;
    display: flex;
    flex-wrap: wrap;
}


/* 
    13. SHOWCASE
*/

.app-showcase {
    width: 100%;
}

.showcase-title {
    padding: 5px;
    margin: 0px 5px;
    border-bottom: solid 1px #D6D6D7;
}

.showcase-title h4 {
    padding: 0px;
    margin: 0px;
    font-size: 18px
}

.showcase-display {
    padding: 5px 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.showcase-action {
    border: solid 1px #D6D6D7;
    border-bottom: none;
    height: 25px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0%;
    padding: 0%;
}




.showcase-item {
    margin: 5px;
    border: solid 1px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.showcase-item p {
    padding: 0px;
    margin: 0px;
}

/* 
    15. FILTER
*/

.app-filter {
    display: flex;

}

.filter-content {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter-buttons{
    display: flex;
}

.filter-view {
    width: 100%;
}

.filter-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filter-input select {
    width: 45%;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.filter-button {
    margin: 0px;
    margin-right: 5px;
    padding: 5px 10px;
    border: solid 1px #D6D6D7;
    border-radius: 25px;
}

/* 
    15. TEXT EDITOR
*/

.app-text-editor {
    height: 400px;
    background-color: #FFF;
    border-radius: 5px;
    border: solid #b6b6b7 1px;
}

.edit-toolbar {
    overflow: hidden;
    height: 40px;
    border-bottom: solid #b6b6b7 1px;
}

.toolbar-buttons-content{
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

.toolbar-button {
    height: 100%;
    border-right: solid #b6b6b7 1px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.toolbar-button:hover {
    background-color: #f2f2f2;
}

.toolbar-button:active {
    background-color: #e6e6e6;
}

.edit-content {
    padding: 5px;
    overflow: auto;
    height: calc(100% - 90px);
}

.edit-content:focus {
    outline: solid #6d6d6e 1px;
}

.edit-submit {
    border-top: solid #b6b6b7 1px;
    height: 50px;
    display: flex;
}

.edit-submit-content{
    display: initial;
}

.edit-submit-actions{
    float: right;
    display: flex;
}

.edit-submit-button-content{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.edit-submit-button{
    margin: 5px;
    padding: 5px 10px;
    border: solid 1px #D6D6D7;
    border-radius: 25px;
}

/* 
    16. POST CREATE
*/

.app-post-create {
    padding: 10px;
}

.post-create-header {
}

.post-create-header h3 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.post-create-content{
    padding-top: 5px;
}


/* 
    17. EXTRAS
*/

.content-seperator {
    height: 1px;
    background-color: #D6D6D7;
    margin: 0px 10*px;
}



/* phones */
@media (min-width: 576px) {

    .app{
        background-color: blue;
    }
    
}

/* tablets */
@media (min-width: 768px) {

    .app{
        background-color: green;
    }

    /* 
        2. HEADER
    */

    .header-search{
        width: 50%;
    }

    .header-dropdown{
        width: 10%;
    }
    
    .header-nav-buttons{
        display: flex;
    }

    .app-header .header-logo {
        width: 5%;
        font-size: 12px;
    }

    .app-header .header-nav {
        width: 95%;
    }

    /* 
        4. BUTTONS
    */

    .mobile-nav {
        display: none;
    }

}

/* laptops */
@media (min-width: 992px) {

    .app{
        background-color: red;
    }

    /* 
        2. HEADER
    */

    .app-header .header-logo {
        font-size: 16px;
    }
}

/* large devices */
@media (min-width: 1200px) {

    .app{
        background-color: orange;
    }
}
